<h1>Welcome <%= current_employee.first_name %></h1>

<h2>My Tasks</h2>
<%= render :partial => 'table', :locals => {:check_for_assignee => true} %>

<h2>All Tasks</h2>
<%= render :partial => 'table', :locals => {:check_for_assignee => false} %>


<%= link_to "Employees", employees_path %>